@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
select {
  outline: none !important;
  box-shadow: none !important;
  border-color: #e4e4e7 !important;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #006fee !important;
}
